a {
    text-decoration: none !important;
    background-color: #a81010;
    color: #fff !important;
    padding: 5px !important;
    text-decoration: none !important;
    display: inline-block !important;
    border-radius: 5px;
    padding: 4px;
}
h3,
p {
    text-align: center;
    color: #444444;
    padding: 10px;
}
body {
    padding-top: 400px;
    box-sizing: border-box;
    font-family: Raleway;
}
img {
    width: auto;
}
