h1 {
    font-size: 3em;
    color: #0f4b9c;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-style: normal;
    background: #efefef;
    margin: 0 -300% 50px;
    padding: 50px 30px;
}

td h2:nth-of-type(odd) {
    color: #a81010 !important;
}
td h2:nth-of-type(even) {
    color: #07439c !important;
}
h2.productheader {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
}
p.productdescription {
    font-size: 15px !important;
    color: grey;
    line-height: 1.6;
    text-align: left;
    width: 350px;
}
img {
    width: auto !important;
}

@media (min-width: 768px) and (max-width: 1024px) {

    h1 {
        font-size: 40px;
    }

    td {
        display: block;
    }

    table {
        padding: 0 20px;
    }

    td {
        display: block;
    }

    .productdescription {
        display: none;
    }

    .productheader {
        text-align: center !important;

    }

   
}

@media (min-width: 320px) and (max-width: 767px) {
    
    h1 {
        font-size: 30px;
        margin: 0 0 50px;
    }

    h2 {
        font-size: 30px;
    }
    
    table {
        padding: 0;
    }

    td {
        display: block;
    }

    img {
        height: auto;
        width: 100% !important;
    }

    .productdescription {
        display: none;
    }

    .productheader {
        text-align: center !important;

    }
    
  }
