p {
    text-align: center;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 400;
    color: #444;
}
a:hover {
    text-decoration: none;
    color: #004ab3;
}


@media (min-width: 320px) and (max-width: 767px) {
    
    p {
        font-size: 13px;
    }
}

