a:hover {
    text-decoration: none;
    color: #004ab3;
}
table {
    width: 100%;
    table-layout: fixed;
    padding: 50px 0 50px 50px;
    font-family: Raleway;
    background-color: #fff;
}
table th {
    font-weight: 700;
    color: #444;
    width: 20%;
}
tr th {
    width: 60%;
}
tr th + th {
    width: 20%;
}
tr th + th + th {
    width: 20%;
}
tr th + th + th + th {
    width: 25%;
}
td {
    color: #444;
    font-weight: 500;
    padding-right: 0;
    font-size: 14px;
}
